VITE_SUPABASE_URL=https://your-project-id.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-key

NEKPAYMENT_MCH_ID=
NEKPAYMENT_MERCHANT_KEY=
NEKPAYMENT_NOTIFY_URL=
NEKPAYMENT_PAGE_URL=
NEKPAYMENT_BANK_CODE=
